version: "3.9"

services:
  mongo:
    image: mongo:6.0.3
    env_file:
      - .env
    volumes:
      - mongodata:/var/lib/mongo/data
    ports:
      - "27017:27017"
    networks:
      - net
  postgres:
    image: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - net
  web:
    tty: true
    build:
      context: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/zmall
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - net
    depends_on:
      - postgres
volumes:
  pgdata:
    driver: local
  mongodata:
    driver: local
networks:
  net: {}
