psycopg2-binary==2.9.5
cryptography==38.0.4
Django==4.1.4
django-cities==0.6.1
django-cleanup==6.0.0
django-cors-headers==3.13.0
django-filter==22.1
django-model-utils==4.3.1
djangorestframework==3.14.0
djangorestframework-jsonapi==6.0.0
drf-yasg==1.21.4
drf-yasg-json-api==0.9.1
pusher==3.3.0
python-dotenv==0.21.0
PyJWT==2.4.0
pymongo==4.3.3
Scrapy==2.7.1
Twisted==22.10.0
redis==4.4.0