{% extends 'base.html' %}
{% block page_name %}Password change{% endblock %}
{% block content %}
  {% if validlink %}
    <form class="password_change_form" method="post">
      {% csrf_token %}
      <p>New password: {{ form.new_password1 }}</p>
      <p class="form_errors">{{ form.new_password1.errors }}</p>
      <p>New password confirmation: {{ form.new_password2 }}</p>
      <p class="form_errors">{{ form.new_password2.errors }}</p>
      <button type="submit">Change</button>
      <div class="password_advise">
        <p>Your password can’t be too similar to your other personal information.</p>
        <p>Your password must contain at least 8 characters.</p>
        <p>Your password can’t be a commonly used password.</p>
        <p>Your password can’t be entirely numeric.</p>
      </div>
    </form>

  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}