{% extends "base.html" %}
{% load i18n static %}
{% block title %}{{ title }}{% endblock %}


{% block content %}
<form method="post">
  {% csrf_token %}
  <p>Old password: {{ form.old_password }}</p>
  <p>New password: {{ form.new_password1 }}</p>
  <p>New password again: {{ form.new_password2 }}</p>
  <p>{{ form.old_password.errors }}</p>
  <p>{{ form.new_password1.errors }}</p>
  <p>{{ form.new_password2.errors }}</p>

  <p><button type="submit">Reset rassword</button></P>
  <input type="hidden" name="next" value="{{ next }}">
</form>
{% endblock %}