{% extends 'base.html' %}
{% block title %} Create Ad {% endblock %}
{% block content %}
  <h2>Sign up</h2>
  <form method="post", enctype="multipart/form-data">
      {% csrf_token %}
      <p>Title: {{ form.title }}</p>
      {{ form.title.errors }}
      <p>Description: {{ form.description }}</p>
      {{ form.description.errors }}
      <p>Upload images: <input type="file" multiple name="images" accept="image/*" required></p>
      <button type="submit" value="Register">Create</button>
  </form>
{% endblock %}