*{
  margin: 0;
  padding: 0;
}

body{
 background: #E6EBEF;
 border: 5x solid black;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 min-height: 100vh;

}

/*
body{
 background: #E6EBEF;
 display: flex;
 flex-direction: column;
}
*/

a{
  text-decoration: none;
  list-style: none;
}
/* header */
.header_content{
  background: #0C79F2;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  overflow: hidden;
}

nav{
  padding: 25px;
  width: 100%;
  display: flex;
  align-items: center;

}

.topnav{
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.topnav p{
  color: white;
  font-size: 30px;
}

.topnav a{
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 30px;
  box-sizing: border-box;
  border-bottom: 3px solid #0C79F2;
  margin: 30px;
}

.topnav .links a:hover{
  font-size: 31px;
  padding-bottom: 9px;
  border-bottom: 4px solid #fff;
}

.topnav .profile a:hover{
  font-size: 31px;
  padding-bottom: 9px;
  border-bottom: 4px solid #fff;
}

/* main */
.main_content{
  display: flex;
  flex: 1 1 800px;
  border: 2px solid yellow;
}

.changing_content{
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.left_menu{
  color: green;
  width: 15%;
  background: white;
  padding-top: 60px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid green;
}

.list_of_ad{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid grey;
  flex: 1 1 auto;
  justify-content: flex-start;
}


.changing_content .page_name{
  text-align: center;
  padding-top: 5px;
  font-size: 25px;
  color: #0C79F2;
  height: 50px;
  border: 2px solid purple;
}

.main_content .list_of_ad .ad{
  color: blue;
  border-radius: 2%;
  background: #DAE6F2;
  margin: 5px 20px;
}

.main_content .list_of_ad .ad img{
  width: 360px;
  height: 360px;
  border-radius: 2%;
}

.list_of_ad p{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.list_of_ad .description{
  text-align: left;
  margin-left: 15px;
}

.list_of_ad .user{
  text-align: right;
  padding-right: 20px;
}

/* footer */
.footer_content{
  height: 80px;
  border: 2px solid red;
  text-align: center;
  color: red;
  flex 0 0 auto;
}

form{
  text-align: center;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

.create_ad{
  width: 600px;
}

.email_form{
 width: 320px;
 height: 300px;
}

.password_change_form{
  width: 500px;
}

button{
 background: #0C79F2;
 color: white;
 font-family: sans-serif;
 font-size: 25px;
 margin: auto;
 width: 150px;
 height: 50px;
 border-radius: 60px;
}

form p{
  display: flex;
  justify-content: space-between;
}

form p a{
  margin: 20px;
}

.form_errors{
  background: red;
}

.form_message{
  color: red;
  text-align: center;
  justify-content: center;
}

.html_message{
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: #0C79F2;
}

.password_advise{
  margin-top: 10%;
  text-align: left;
  color: #0C79F2;
}

.ad_detail{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.ad_detail_content{
  display: inline-flex;
  flex: 1 1 auto;
  flex-direction: row;
}


.ad_detail_content p{
  text-align: left;
  margin: 20px;

}

.ad_detail_content p img{
  width: 480px;
  height: 480px;
  border: 2px solid #0C79F2;
}

.ad_detail_content .description{
  flex: auto;
  flex-wrap: wrap;
}

.ad_detail .gallery{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.ad_detail .gallery img{
  margin: 0 10px;
  width: 250px;
  height: 250px;
  border: 2px solid #0C79F2;
}

.ad_detail .author{
  text-align: right;
  margin-right: 30px;
}

.private{
  display: inline-flex;
  flex: 1 1 auto;
  flex-direction: row;
}

.private p{
  text-align: left;
  margin-top: 20px;
  margin-left: 150px;
}

.private img{
  margin: 20px;
  width: 480px;
  height: 480px;
  border: 2px solid #0C79F2;
}
/* ________________________ */

